@use 'fonts';

@media screen and (min-width: 1001px) {
    // .main__img {
    //     background-image: url(../images/horses-desktop.jpg)
    // }

    .main__header {
        font-size: 90px;
        
        &__text {
            font-size: 22px;
        }
    }
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
    // .main__img {
    //     background-image: url(../images/horses-medium.png)
    // }

    .main__header {
        font-size: 72px;

        &__text {
            font-size: 22px;
            line-height: 33px;

            &__container {
                max-width: 574px;
            }
        }
    }

    .nav {
        &__logo {
            font-family: fonts.$mobile-logo-font;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 36px;

            /* identical to box height, or 150% */
            letter-spacing: -0.25px;

            color: #242635;
        }
    }
}

@media screen and (max-width: 600px) {
    // .main__img {
    //     background-image: url(../images/horses-mobile.png);
    // }

    .main__header {
        font-size: 36px;

        &__text {
            font-size: 12px;
            line-height: 18px;

            &__container {
                max-width: 217px;
            }
        }
    }

    .nav {
        &__logo {
            font-family: fonts.$mobile-logo-font;
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 36px;

            letter-spacing: -0.25px;

            color: #242635;
        }

        &__menu {
            &__icon {
                visibility: visible;
            }

            
            &__list {
                display: flex;
            }
        }

        &__list {
            display: none;
        }

    }
}