.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__header {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 102px;
  letter-spacing: -2px;
  color: #242635;
}
.main__header__text {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  text-align: center;
  color: #242635;
}
.main__header__text__container {
  max-width: 574px;
}
.main__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__logo {
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.25px;
  color: #242635;
  margin-right: auto;
}
.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}
.nav__link__text {
  margin-left: 30px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #242635;
}
.nav__link__text:hover {
  color: blue;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.nav__menu {
  width: 42px;
  height: 42px;
  visibility: hidden;
}
.nav__menu:hover {
  color: blue;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media screen and (min-width: 1001px) {
  .main__header {
    font-size: 90px;
  }
  .main__header__text {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 601px) {
  .main__header {
    font-size: 72px;
  }
  .main__header__text {
    font-size: 22px;
    line-height: 33px;
  }
  .main__header__text__container {
    max-width: 574px;
  }
  .nav__logo {
    font-family: "Mukta Vaani", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: -0.25px;
    color: #242635;
  }
}
@media screen and (max-width: 600px) {
  .main__header {
    font-size: 36px;
  }
  .main__header__text {
    font-size: 12px;
    line-height: 18px;
  }
  .main__header__text__container {
    max-width: 217px;
  }
  .nav__logo {
    font-family: "Mukta Vaani", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: -0.25px;
    color: #242635;
  }
  .nav__menu {
    visibility: visible;
  }
  .nav__list {
    display: none;
  }
}
.center-on-screen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-container {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}